html, body{
    
    height:100%;
    
}
.container{
    height: 100%;
}
.row{
    /* border: 2px solid black; */
    height: 33%;
}

h1{
    color:#ad4040;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Franchise', 'Times New Roman', Times, serif;
    font-size: 450%;
    
}
h3{
    font-family: 'Akaya Telivigala', cursive;
    color:greenyellow;
}
input{
    font-size: 125%;
    
    
}
video{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
@font-face{
    font-family: Franchise;
    src: url(Franchise.ttf);
    
}
button{
   margin-bottom:1.6%;
}
